/* VARIABLES */

:root{
--dorado:#DBB42C;
}



/* GENERAL */

body{
margin:0;
font-family:Arial;
background:#0d0d0d;
color:white;
}



/* LOGIN */

#login{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}



/* TARJETA */

.login-card{
width:390px;
background:#181818;
padding:40px;
border-radius:12px;
box-shadow:0 0 25px rgba(219,180,44,.4);
}



/* TITULO */

.login-card h2{
text-align:center;
color:var(--dorado);
}



/* INPUT GROUP */

.input-group{
position:relative;
margin-bottom:15px;
}



.input-group i{
position:absolute;
left:10px;
top:50%;
transform:translateY(-50%);
color:var(--dorado);
}



/* INPUTS (CORREGIDO) */

.input-group input{

width:100%;

padding:20px 10px 20px 40px;

border:none;

background:#222;

color:white;

border-radius:15px;

box-sizing:border-box; /* evita que el input se salga */

}



/* BOTON */

button{
width:100%;
padding:10px;
background:var(--dorado);
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}



/* MENSAJE */

#mensaje{
text-align:center;
margin-top:10px;
}



/* CONTENIDO */

#contenido{
display:none;
}



/* ENCABEZADO */

.encabezado{
background:black;
padding:15px;
text-align:center;
border-bottom:3px solid var(--dorado);
}

.encabezado h1{
color:var(--dorado);
margin:0;
}



/* CONTENEDOR */

.contenedor{
display:flex;
height:90vh;
}



/* MENU */

.menu{
width:20%;
background:#0D0D0D;
padding:20px;
}

.menu a{
display:block;
color:var(--dorado);
padding:10px;
text-decoration:none;
font-weight:bold;
}

.menu a:hover{
background:var(--dorado);
color:black;
}



/* CONTENIDO */

.main{
width:80%;
padding:20px;
background:#242424;
text-align:center;
}



/* IMAGENES */

.main img{
width:300px;
margin:10px;
border-radius:10px;
}

/* BOTON CERRAR SESION */
.cerrar-sesion{
position:fixed; /* fija el boton en la pantalla */
bottom:20px; /* distancia desde abajo */
right:20px; /* distancia desde la derecha */
padding:12px 25px; /* tamaño del boton */
background:#ff4d4d; /* color rojo */
color:white; /* color del texto */
border:none; /* elimina bordes */
border-radius:20px; /* esquinas redondeadas */
cursor:pointer; /* cambia el cursor */
font-weight:bold; /* texto mas visible */
}

/* efecto cuando pasas el mouse */
.cerrar-sesion:hover{
background:#ff1a1a; /* rojo mas oscuro */
}
