/* =====================================
BOTON APOYAR TIPO RED SOCIAL
Fecha: 07/03/2026
===================================== */

.apoyo{
display:flex; /* coloca icono y numero en fila */
align-items:center; /* centra verticalmente */
gap:6px; /* espacio entre elementos */

margin-top:10px;

background:#222; /* fondo oscuro */
color:#DBB42C; /* color dorado */

border:none;
border-radius:20px; /* forma redondeada */

padding:6px 12px;

cursor:pointer;

font-weight:bold;

transition:.3s;
}



/* EFECTO AL PASAR EL CURSOR */

.apoyo:hover{
background:#DBB42C;
color:black;
}



/* CORAZON */

.apoyo i{
font-size:16px;
}



/* CUANDO YA APOYO */

.apoyado{
background:#DBB42C;
color:black;
}
